<div class="mainform">
	

	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="form-register">
		<h1 class="formtitle">{{title}}</h1>

		<div class="alerta-exito" (click)="statusChange()" *ngIf="status == 'success'">
			Registro completado correctamente.
		</div>

		<div class="alerta-error" (click)="statusChange()" *ngIf="status == 'error'">
			El registro no ha podido completarse, puede que tu correo electronico o apodo ya esten en uso.
		</div>
		<p>
			<label>NOMBRE</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="input" required />
			<span *ngIf="!name.valid && name.touched">
				El nombre es obligatorio!
			</span>
		</p>

		<p>
			<label>APELLIDOS</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="input" required />
			<span *ngIf="!surname.valid && surname.touched">
				Los apellidos son obligatorio!
			</span>
		</p>

		<p>
			<label>APODO</label>
			<input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="input"  required/>
			<span *ngIf="!nick.valid && nick.touched">
				El apodo es obligatorio!
			</span>
		</p>

		<p>
			<label>CORREO ELECTRONICO</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="input" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
			<span *ngIf="!email.valid && email.touched">
				El correo es obligatorio!
			</span>
		</p>

		<p>
			<label>PASSWORD</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="input" required />
			<span *ngIf="!password.valid && password.touched">
				El password es obligatorio!
			</span>
		</p>
		<input class="submit" type="submit" value="{{title}}" [disabled]="!registerForm.form.valid">
		
	</form>
</div>