<div class="mainNotes">
	
	<div class="title-container">
		<div class="success"  *ngIf="status == 'success'" (click)="alert()" >nota guardada!</div>
		<div class="success" *ngIf="status == 'error'" (click)="alert()" >nota no guardada</div>
		<div class="success" *ngIf="statusDelete" (click)="clickDelete()" >Nota eliminada!</div>
		<div class="success" *ngIf="statusUpdate" (click)="updateNote()" >Nota Actualizada!
		</div>
		<h1 class="title-notes">ESCRIBE UNA NOTA! </h1>
	</div>
	<div class="noForm-container" *ngIf="!showForm && !editForm">
		<h4>CREA NUEVAS TAREAS!</h4>
		<div><button (click)="viewForm()">CREAR NOTA NUEVA</button></div>
	</div>


	<div class="form-container" *ngIf="showForm">
		<form #newNoteForm="ngForm" class="form-notes" (ngSubmit)="onSubmit(newNoteForm)">
			<p>
				<label>titulo de la nota </label>
				<input  type="text" name="title" #text="ngModel" [(ngModel)]="note.title" required />
			</p>

			<p>
				<label>escribe lo que quieras</label>
				<textarea class="textarea" name="text" #text="ngModel" [(ngModel)]="note.text" required></textarea>
				<span *ngIf="!text.valid && text.touched" >
					El texto de la nota es obligatorio
				</span>
			</p>

			    <input class="submit" type="submit" value="GUARDAR" [disabled]="!newNoteForm.form.valid">
			    <button class="submit-cancel" (click)="hideForm()">CANCELAR</button>

			
			<div class="basura"></div>
		</form>

	</div>

		<div class="form-container" *ngIf="editForm">
		<form #updateNoteForm="ngForm" class="form-notes" (ngSubmit)="updateNote(updateNoteForm)">
			<p>
				<label>edita el titulo</label>
				<input  type="text"  placeholder="{{editTitle}}" name="title" #text="ngModel" [(ngModel)]="noteUpdated.title" required />
			</p>

			<p>
				<label>edita el texto de la nota</label>
				<textarea placeholder="{{editText}}" class="textarea" name="text" #text="ngModel" [(ngModel)]="noteUpdated.text" required></textarea>
				<span *ngIf="!text.valid && text.touched" >
					El texto de la nota es obligatorio
				</span>
			</p>

			    <input class="submit" type="submit" value="GUARDAR" [disabled]="!updateNoteForm.form.valid">
			    <button class="submit-cancel" (click)="hideEditForm()">CANCELAR</button>

			
			<div class="basura"></div>
		</form>

	</div>

	<div class="notas-div">
		<h1 class="subtitle-notes">MIS NOTAS: {{total}}</h1>
		<div class="notas-scroll">
			<p *ngIf="nohay" >{{nohay}}</p>

			<div class="notaContainer"  *ngFor="let nota of notas" (click)="editNote(nota._id, nota.title, nota.text)">
				<div [ngClass]="{notaEdit: editId == nota._id, nota: !editId !== nota._id}">
					<h3 [ngClass]="{EditTrue: editForm, EditFalse: !editForm}">{{nota.title}}</h3>
					<p>{{nota.text}}</p>
					<span>{{nota.created_at  | amTimeAgo }}</span>
					<button (click)="deleteNote(nota._id)">BORRAR</button>
				</div>
			</div>
		</div>
		<div class="boton-note">
			<button (click)="viewMore()"  >
				ver mas notas!
			</button>
		</div>
	
	</div>

</div>