<header class=header>
  <nav class="navIdentity"  *ngIf="identity">
    <h2>{{title}}</h2>

    <ul>
      <li class="iconHome"><a [routerLink]="['/home']">INICIO</a></li>
      <li class="iconNote"><a [routerLink]="['/notas']">NOTAS</a></li>
      <li class="userMenu">Hola {{identity.name}}
        <ul class="hideNav">
          <li>Perfil</li>
          <li><a [routerLink]="['/user-edit']">mis datos</a></li>
          <li><a (click)="logout()" >Logout</a></li>
        </ul>
      </li>
    </ul>

  </nav>

   <nav class="nav"  *ngIf="!identity">
    <h2>{{title}}</h2>
    <ul>
      <li><a [routerLink]="['/home']">INICIO</a></li>
      <li><a [routerLink]="['/login']">LOGIN</a></li>
      <li><a [routerLink]="['/registro']">REGISTRATE</a></li>
    </ul>
  </nav>
</header>

<section class="main">
<router-outlet></router-outlet>
</section>